form{
    
    .input{
        background: white;
        line-height: 30x;
        border-radius: 4px;
        &:focus{
            outline: $metal;
        }
        
    }
    textarea{
        padding: 10px;
        font-size: 20x;
        margin-top: 20px;
        border-radius: 4px;
    }
    .submit{
        cursor: pointer;
    }
}
.gmap_canvas{


}

.cp{
    cursor: pointer;
}