.sidenav{
    position: fixed;
    height: calc(100vh - 70px);
    top: 70px;
    width: 300px;
    background: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    left: -300px;
    padding-top: 0px;
    .sidenavLink{
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        margin-top: 10px;      
        margin-bottom: 10px;      
        transition: background-color 0.3s ease-out ;
        &:hover{
            background-color: $silver;
            color: $accent;
        }
    }
    .sidenavhref{
        text-align: right;
        
      //  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        &:hover{
            color: $accent;
            svg{
                fill : $accent
            }

        }
        svg{
            width: 24px;
            margin-right: 10px;
        }
    }
}

.overlay{
    position: fixed;
    width: 100vw;
    height: calc(100vh - 70px);
    top: 70px;
    background: rgba(0,0,0,0.24);
    left: -100vw;
    opacity: 0;
    filter:blur(3px);
    
}