header {
    z-index: 100;
    position: fixed;
    background: white;
    left: 0;
    top: 0;
    width: 100vw;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    line-height: 70px;
    .wrapper{
        width: 100%;
    }
}
.navlink{
    letter-spacing: 2px;
    &:hover{
        background: #f7f7f7;
        color: $accent;
    }
}
.brand{
    display: flex; 
    justify-content: center;
    align-items: center;
    //background: red;
    svg{
      height: 20px;
    }
    
}
 .sideNavBtn{
    overflow: hidden;
    position: relative;
    cursor: pointer;
    height: 70px;
    width: 70px;
    justify-content: center;
    align-items: center;
    svg{
        width: 34px;
        bottom: 15px;
        left: 15px;
        position: absolute;    
    }
    
    .closeIcon{
        bottom: -100px;
    }
    
}
.brand{
display: flex;
    .brand-logo{
        margin-right: 10px;
        transform: translateY(-3px);
    }
}